:root {
  --color-background: #fcfcfc;
  --color-text: #0c0c0c;
  --color-primary: #1e62b1;
  --content-width: 45rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}

.button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 5px;
  font-size: .9rem;
  padding: 1rem;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
